<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="css/bootstarp.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!--lightbox -->
	<link rel="stylesheet" href="css/lightbox.css">
	<!-- lightbox -->

	<!--web font-->
	<link
		href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
		rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		rel="stylesheet">
	<!--//web font-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!--  ajax  -->

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li  class="nav-item">
                <a class="nav-link active " id="nav-link-home"  href="home.html" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item" >
                <!-- <a class="nav-link" href="#">Link</a> -->
                <a  class="nav-link scroll " id="nav-link-about" href="#about">about</a>
              </li>
              <li class="nav-item"></li>      
              <a class="nav-link scroll " id="nav-link-service" href="#services">Services</a>
              </li>
              <li class="nav-item"></li>      
              <a class="nav-link scroll " id="nav-link-experiance" href="#experience">Experience</a>
              </li>
              
            </ul>
            <form class="d-flex" action="logout" method="post">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <button class="btn btn-danger" type="submit">Logout</button>
            </form>
          </div>
        </div>
      </nav>
      <!-- <header></header> -->
		
	</header>

	<!-- banner -->
	<section class="banner">
		<div class="banner-layer">
			<div class="container">
				<div class="row agile_banner_info">
					<div class="col-md-7 agile_banner_margin">
						<h5>Hi</h5>
						<h2>My name is <span>Misra Febi</span></h2>
						<h4>Mern Stack Developer </h4>
						<p>I am Misra & I am from Malappuram. I have completed my degree in BSc Computer Science from
							KAHM Unity women's college, Manjeri. Right now I am Intershipping on Mern Stack from
							Brototype. My biggest dream is to become a Mern Satck Developer.</p>

						<a href="#"> Read More </a>
					</div>
					<div class="col-md-5 image_margin">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner -->

	<!-- about -->
	<section class="about py-5" id="about">
		<div class="container py-3">
			<h3 class="heading">About Me</h3>
			<div class="row about-grids">
				<div class="col-lg-4">
					<h4>Misra Febi</h4>
					<p>I am Misra & I am from Malappuram. I have completed my degree in BSc Computer Science from KAHM
						Unity women's college, Manjeri. Right now I am Intershipping on Mern Stack from Brototype. My
						biggest dream is to become a Mern Satck Developer.</p>
					<a href="#"> Download CV </span> </a>
				</div>
				<div class="col-lg-4 col-md-6 my-lg-0 my-5">
					
				</div>
				<div class="col-lg-4 bar-grids">
					<div class="wthree_skills">
						<h6>HTML 5<span> 95% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 95%">
							</div>
						</div>
						<h6>Java Script<span> 85% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 85%">
							</div>
						</div>
						<h6>Css<span>90% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 90%">
							</div>
						</div>
						<h6>PHP<span>75% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 75%">
							</div>
						</div>
						<h6>Android Java<span>45% </span></h6>
						<div class="progress prgs-w3agile-last">
							<div class="progress-bar progress-bar-striped active" style="width: 45%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about -->

	<!-- services -->
	<section class="services py-5" id="services">
		<div class="container py-3">
			<h3 class="heading">Services</h3>
			<div class="row service-grids">
				<div class="col-lg-4 col-md-6 agile w3-icon-grid1">
					<h3> UI/UX Design</h3>
					<p>I designed facebook home page, x home page and mozilla home page. I used html, css and javascript
						languages ​​to design a webpage. I used bootstrap framework to design the webpage.</p>
				</div>
				<div class="col-lg-4 col-md-6 agile mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
					<h3>Mobile Apps</h3>
					<p>I developed a mobile app for visually impaired people. The app mainly helps blind people find
						objects. I used Android Java to develop my blind assistance application.</p>
				</div>
				<div class="col-lg-4 col-md-6 agile mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
					<h3>Web Developer</h3>
					<p>I developed a website. It collects data from the user and stores it in the database. I used
						Python Django to develop the webpage and I used mysql to store the data.</p>
				</div>
				
			</div>
		</div>
	</section>
	<!-- //services -->

	<!-- experience -->
	<section class="experience py-5" id="experience">
		<div class="container py-3">
			<h3 class="heading">Experience</h3>
			<div class="row exp-grids">
				<div class="col-md-3 exp wthree">
					<h4 style="padding-top: 17px;">UI/UX designer</h4>
					<!-- <h5></h5> -->
				</div>
				<div class="col-md-9 mt-md-0 mt-4 wthree">
					<p>I designed fcaebook, mozilla and x as static webpage. It's not responsive and I don't know how to
						develop a responsive page at that point. I learned to create responsive webpage. Then I made the
						Mozilla page responsive.</p>
				</div>
			</div>
			<div class="row exp-grid1 mt-5 wthree">
				<div class="col-md-9 mb-md-0 mb-4">
					<p>I developed a website for the caretaker of visually impaired people. It collects information from
						the caretaker and provides it to the blind people and collects information from the blind and
						provides it to the caretaker. And stored datas into database. I used python django framework and
						mysql .</p>
				</div>
				<div class="col-md-3 exp1 wthree">
					<h4 style="padding-top: 17px;">Web Developer</h4>
					<!-- <h5>2010 - 2013</h5> -->
				</div>
			</div>
			<div class="row exp-grids mt-5 wthree">
				<div class="col-md-3 exp">
					<h4 style="padding-top: 17px;">Mobile Apps</h4>
					<!-- <h5>2013 - 2016</h5> -->
				</div>
				<div class="col-md-9 mt-md-0 mt-4 wthree">
					<p>I developed mobile app for blind people. It is mainly used for object detection, navigation and
						detection of known and unknown persons. It works with voice commands. In any emergency cases the
						blind can video call or send messsage to caretaker.</p>
				</div>
			</div>
			
		</div>
	</section>
	
	
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!--  light box js -->
	<script src="js/lightbox-plus-jquery.min.js"> </script>
	<!-- //light box js-->
	<!-- for-Testimonials -->
	<!-- required-js-files-->
	<link href="css/owl.carousel.css" rel="stylesheet">
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 1,
				lazyLoad: true,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
	<!--//required-js-files-->
	<!-- //for-Testimonials -->


	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	
</body>
</html>
